header {
    font-weight: 400;
    font-style: normal;
  }
  .title{
    font-family: "Pacifico", cursive;
  }
/*GLOBALES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* margin: 0 auto; */
    /* max-width: 1200px; */
    font-family: 'Lato';
    color: #333;
}

img{
    max-width: 100%;
}
/*estilos header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0 ;
}

/*estilos de carrito*/
.carrito-icon i.fa-basket-shopping {
    height: 40px;
    font-size: 40px; 
    stroke: #000;
}
.carrito-icon i.fa-basket-shopping:hover{
    cursor:pointer;
}
.container-icon{ /*padre relativo del contenedor*/
    position: relative;
}
.count-products{
    position: relative;
    top: -20%;
    right: 0;
    margin-left: 25px;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 15px;
}
.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);
    border-radius: 10px;
}
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0,0,0,0.20);

}
.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}
.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}
/* Estilos base del ícono */
.carrito-icon .container-cart-products .cart-product i.fa-solid.fa-x {
    /* La propiedad font-size controla el tamaño del ícono más efectivamente */
    font-size: 25px; /* Ajusta esto según necesites */
    /* Color base del ícono, si es necesario */
}
/* Para el estado hover del ícono */
.carrito-icon .container-cart-products .cart-product i.fa-solid.fa-x:hover {
    color: red; /* Cambiamos a color, que es más adecuado para íconos de font */
    cursor: pointer;
    transition: 0.2s;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;

}
cart-total h3{
    font-size: 20px;
    font-weight: 700;
}
.total-pagar{
    font-size: 20px;
    font-weight: 900;
}
.hidden-cart{
    display: none;
}



/*Main */

.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.20); 
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover; /*adapta la imagen al lugar*/
    border-radius: 10px 10px 0 0; /*arriba izq, arriba der, abajo izq, abajo der*/
    transition: all .5s;
}

.item:hover img{
    transform: scale(1.2);
}
.item figure{
    overflow: hidden; /*ayuda a no desvirdar la imagen de su contendor*/
}

.info-product{
    font-family: "Kalam", cursive;
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
